{deps, []}.
{erl_opts, [debug_info]}.

{pre_hooks,
 [{"(linux|darwin|solaris)", compile, "make -C c_src -I/usr/local/Cellar/erlang/21.0.4/lib/erlang/erts-10.0.4/include/"},
  {"(freebsd)", compile, "gmake -C c_src"}]}.

{post_hooks,
 [{"(linux|darwin|solaris)", clean, "make -C c_src clean -I/usr/local/Cellar/erlang/21.0.4/lib/erlang/erts-10.0.4/include/"},
  %{"(freebsd)", clean, "gmake -C c_src clean"},
  {"", clean, "rm -f test/*.beam"},
  {"", clean, "rm -rf logs"},
  {"", clean, "rm -rf doc"}
 ]}.
